<h2>Products worked</h2>
<ul>
  <li><a [routerLink]="['/product', 1]">Account 1</a></li>
  <li><a [routerLink]="['/product', 2]">Account 2</a></li>
  <li><a [routerLink]="['/product', 3]">Account 3</a></li>
</ul>

{{ products[0].title }}
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
<main>
  <div
    class="container-fluid bg-trasparent my-4 p-3"
    style="position: relative;"
  >
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
      <div class="col" *ngFor="let item of products">
        <div class="card h-100 shadow-sm">
          <a [routerLink]="['/product', item.id]">
            <img src="{{ item.thumbnail }}" class="card-img-top" alt="..." />
            <div class="label-top shadow-sm">{{ item.brand }}</div>
            <div class="card-body">
              <div class="clearfix mb-3">
                <span class="float-start badge rounded-pill bg-primary">
                  {{ item.category }}</span
                >
                <span class="float-end price-hp">
                  {{ item.price | currency: 'USD':'symbol' }}</span
                >
              </div>
              <h5 class="card-title">
                {{ item.title }}
              </h5>
              <div class="text-center my-4">
                <a href="#" class="btn btn-warning">Check offer</a>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
