div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.label-top {
  position: relative !important;
}

.cot {
  margin-left: 20px;
  margin-top: 40px;
}

.img-detail {
  max-height: 270px;
  min-height: 270px;
}

.card:hover {
  transform: none !important;
}

.back-button {
  margin-bottom: 30px;
  font-size: 20px;
}

.download-btn {
  display: table;
}
